Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: 
      - 'clang-analyzer-*'
      - 'cppcoreguidelines-*'
      - 'performance-*'
      - 'readability-*'
    Remove:
      - 'readability-redundant-access-specifiers'
    CheckOptions:
      readability-identifier-length.MinimumVariableNameLength: 2

CompileFlags:
  CompilationDatabase: "build"
  Remove: ['-fdeps-format=*', '-fmodule-mapper=*' ]
  Add: ['-std=c++23']